<mat-form-field>
    <select matNativeControl (change)="onSelected($event)">
        <option *ngFor="let alliance of alliances()" [selected]="selectedAlliance === alliance.id" [value]="alliance.id">
            {{ alliance.label}}
        </option>
    </select>
</mat-form-field>

<app-alliance-kills 
    [colorScheme]="selectedColor$ | async"></app-alliance-kills>
<app-peak-alliance-hours
[showLegend]="true"
[xAxisLabel]="peakAllianceChart.xAxisTitle"
[yAxisLabel]="peakAllianceChart.yAxisTitle"
[legendTitle]="peakAllianceChart.legendTitle"
[showXAxisLabel]="peakAllianceChart.showXAxisLabel"
[showYAxisLabel]="peakAllianceChart.showYAxisLabel"
[colorScheme]="selectedColor$ | async">
</app-peak-alliance-hours>
<app-alliance-pie-chart></app-alliance-pie-chart>
