<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title> Database </mat-card-title>

    </mat-card-header>

    <mat-card-content class="dashboard-card-content">

      <app-number-cards [colorScheme]="selectedColor$ | async"></app-number-cards>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
              appNavigate="/alliance">Alliances</button>
      <button mat-button
              appNavigate="/player">Players</button>
              <a mat-button href="https://slampisko.github.io/active-bosses/" target="_blank">Slam's Active Boss List</a>
    </mat-card-actions>
  </mat-card>
</div>
