@media (max-width: 700px) {
  .mat-mdc-card-content {
    padding: 0 4px;
  }

  .grid-container {
    margin: 2px;
  }

  .line-chart-container {
    margin-top: 8px;
    margin-bottom: 16px;
    width: 360px;
    overflow-x: auto;
  }
}
@media (min-width: 700px) {
  .grid-container {
    margin: 20px;
  }

  .line-chart-container {
    margin-top: 20px;
    margin-bottom: 32px;

  }
}



.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.chart-legend {
    margin-bottom: 16px;
    margin-left: 8px;
}

.legend-title {
    text-align: left;
}

.spacer {
    margin-bottom: 72px;
}
